body{
  background-image:url(http://image.noelshack.com/fichiers/2018/43/4/1540470675-bg-zelda.jpg);
  background-repeat:no-repeat;
  background-size: 100%;
}

a:hover {
  color: black;
  font-size: 25px;
}

div{
  background-color: rgba(96,96,96,0.5);
  margin: 0 auto;  
  width: 40%;
  text-align:justify;
  text-align: center;
}
a{
  text-decoration: none;
  color: green;
  font-size: 30px;
}
p{
  font-size: 30px;
}

html{
  font-family: "stone" ;
}

@font-face {

    font-family: "stone";

    src: url("stone.ttf");

}